body {
  padding-top: 56px;
  margin-right: 0px;
}

*.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}

.insertbutton {
    padding-left: 15px; 
    padding-right:15px;
    margin-right:3px;
}

.img-fluid {
    height: 300px;
    width: 200px;
    margin-top: 50px;
}
.addreview {
    position: relative;
    left: 60px;
    top: 50px;
    bottom: 50px;
    margin-top: 200px;
}