{% extends 'base.html' %} {% block content %}
    <div class="row col-lg-12 col-md-12" id="bookrow">
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" id="bookboard2">
            <p id="adittitle">Add/Edit your book</p>
            <form  method="POST" id="editeupdate" style="margin-right: 30px;"> 
                <div class="form-group">
                    <label for="exampleInputEmail1">Book name</label>
                    <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter book name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Author name</label>
                    <input type="text" name="author" class="form-control" id="exampleInputPassword1" placeholder="author name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Book cover url</label>
                    <input type="text" name="image" class="form-control" id="" placeholder="Http://...">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Price</label>
                    <input type="text" name="price" class="form-control" id="" placeholder="Price">
                </div>
            
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Book introduction</label>
                    <textarea class="form-control" style="background-color: white;" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="collapsible-header">
                    <button type="submit" formaction="{{ url_for('insert_book') }}" id="addeditbutton" class="btn btn-info" >Add</button>
                    <button type="submit" formaction="{{ url_for('update_book') }}" class="btn btn-info">Edit</button> 
                </div>
             </form>

        </div>
        <div class="card col-md-12" id="bookscard1">
            <div class="row">
                {% for book in books %}
                <div class="col-md-3" id="cardsize">
                    <div class="" style="margin-left: 2rem;  padding: 0rem; ">
                        <img class=""  id="bookimage" src="{{book.image}}" alt="Card image cap">
                        <div class="">
                            <p class="" id="bookname">{{book.name }}</p>
                            <p class="" id="authorname">{{book.author}}</p>
                            <a class="btn btn-info" id="readmorebutton" href="{{ url_for('detail_book', book_id=book._id, book_name=book.name) }}">Read more</a>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}