{% extends 'base.html' %} {% block content %}

    {% for book in books %}
    <div class="col-lg-12">  
        <div class="card mt-5 card-body">
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="card-title">{{book.name }}</h3>
                    <h3 class="card-title">{{book.author}}</h3>
                    <p class="card-text">{{book.description}}<a href="{{ url_for('detail_book', book_id=book._id, book_name=book.name) }}"> Read more...</a></p>
                    <p class="card-text">Price: {{book.price}}</p>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                </div>
                <div class="col-lg-4 photo-box">
                    <img class="img-fluid" src="{{book.image}}" alt="">
                </div>
            </div>
        </div>  
    </div>           
    {% endfor %}
{% endblock %}