{% extends 'base.html' %} {% block content %}                 
                

    <div class="row" style="margin-left:-100px; margin-right:-100px; margin-top:80px;">
        <div class="col-md-6">
            <form class="" id="contactform" method="POST" style="margin-top:0px;">
                <h4> Contact me</h4>
                <div class="form-group">
                    <div>
                        <label class="control-label" for="fname">Name:</label>
                        <input type="text" name="from_name" class="form-control" id="fullname" placeholder="Name" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label class="control-label" for="email">Email:</label>
                        <input type="text" name="from_email" class="form-control" id="email" placeholder="Email" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div>     
                        <label class="control-label" for="comment">Message:</label>
                        <textarea rows="5" name="from_projectsummary" class="form-control" id="projectsummary" placeholder="Project Description" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button type="submit" value="Submit" id="btnsubmit" class="btn btn-secondary center-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>


        <div class="col-md-6 google-map" style="height: 10em; display: flex; align-items: center; justify-content: center; width:800px; height: 600px; margin-bottom: 30px;">
            {% with %}

                {% set location=(51.492809, -3.184275) %}
                {% set style="width:500px;height:500px;"%}

            {{
            googlemap(
                "simple-map",
                location.0, location.1,
                markers=[location,],
                style=style
            )
            }}

            {% endwith %}
        </div>
    </div>
    
                            


            
{% endblock %}


