{% extends 'base.html' %} {% block content %} 
    <div class="row col-md-12 flex-direction" id="rowbookdetail">
        <div class="row col-md-4" id="rowform">
            <p class="col s12" id="rowformp">Add/Delete your review</p>
            <form  method="POST">
                <div class="form-group col s12">
                    <label for="exampleInputEmail1">Full name</label>
                    <input type="text" class="form-control" name="name" required style="margin-top:-0.3rem;">
                </div>

                <div class="form-group col s12">
                    <label for="exampleFormControlTextarea1">Review</label>
                    <textarea class="form-control" style="background-color: #f0f5f5;" name="review" id="exampleFormControlTextarea1" rows="7"></textarea>
                    <p style="font-size: 10px;">To delete your review, you need to just enter your name in the form and hit the delete button</p>
                </div>

                <div class="form-group col s12">
                    <label for="exampleInputEmail1">Date</label>
                    <input type="date" class="datepicker form-control" name="date">
                </div>

                <div class="collapsible-header" style="background-color: white;">
                    <button type="submit" formaction="{{ url_for('insert_review', review_id=reviews._id, book_id=book._id, book_name=book.name )}}" class="btn btn-info" id="addreviewbutton">Add</button>
                    <button type="submit" formaction="{{ url_for('delete_review', review_id=reviews._id, book_id=book._id, book_name=book.name )}}" class="btn btn-info" id="deletereviewbutton">Delete</button>
                </div>
            </form>
        </div>

        <div class="col-md-12" id="bookdetailcard">
            <div class="card mt-5 card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="card-title">{{book.name}}</h3>
                        <h3 class="card-title">{{book.author}}</h3>
                        <p class="card-text">{{book.description}}</p>
                        <p class="card-text">Price: {{book.price}}</p>
                        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                    </div>
                    <div class="col-md-4 photo-box">
                        <img class="img-fluid" src="{{book.image}}" alt="">
                    </div>
                </div>
                <a class="col-md-2 btn btn-info" target="_blank" href="{{book.buy}}">Buy</a>
                
                
            </div> 
            
            <div class="card card-outline-secondary my-4">
                <div class="card-header">Product Reviews</div>
                <div class="card-margin card-body">
                    {% for key1,item1 in reviews.items() %}
                        {% if loop.index > 2 %}
                            <p>{{ item1.review }}</p>
                            <small class="text-muted">Posted by on {{ item1.date }} by {{ key1}}</small>
                            <hr>
                        {% endif %}
                    {% endfor %}
                    
                </div>
            </div>
        </div>

    </div>

{% endblock %}