{% extends 'base.html' %} {% block content %} 
    <div>
        <div class="card mt-5 card-body">
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="card-title">{{book.name}}</h3>
                    <h3 class="card-title">{{book.author}}</h3>
                    <p class="card-text">{{book.description}}</p>
                    <p class="card-text">Price: {{book.price}}</p>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                </div>
                <div class="col-lg-4 photo-box">
                    <img class="img-fluid" src="{{book.image}}" alt="">
                </div>
            </div>
        </div> 
        
        <div class="card card-outline-secondary my-4">
            <div class="card-header">Product Reviews</div>
            <div class="card-margin card-body">
                {% for review in reviews %}
                    {% for affect in review %} 
                        <p>{{affect}}</p>
                        <small class="text-muted">Posted by on </small>
                        <hr>
                        <a href="#" class="btn btn-success">Leave a Review</a>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}